<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contáctanos</h2>

					<form action="#" method="post" id="formulario">

						<div class="field half first">
							<label for="name">Nombre</label>
							<input name="name" id="name" type="text" placeholder="Nombre">
						</div>
						<div class="field half">
							<label for="email">Correo</label>
							<input name="email" id="email" type="email" placeholder="Correo">
						</div>
						<div class="field">
							<label for="message">Mensaje</label>
							<textarea name="message" id="message" rows="6" placeholder="Escriba el mensaje"></textarea>
						</div>
						
						<div id="botones" class="flex gap-5">
								<button 
									type="submit"
									class="flex-1 bg-pink-600 text-white flex justify-center gap-2 items-center opacity-50"
									disabled
									
								>
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
										<path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
									</svg>
									Enviar
								</button>

								<button 
									class="flex-1 bg-gray-800 text-white flex justify-center gap-2 items-center"
									type="reset"
								>
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
										<path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
									</svg>
									Reset
								</button>
                    </div>         

					</form>


						{{!-- SPINNER --}}
					   <div id="spinner" class="hidden justify-center mt-10">
							<div class="sk-chase">
									<div class="sk-chase-dot"></div>
									<div class="sk-chase-dot"></div>
									<div class="sk-chase-dot"></div>
									<div class="sk-chase-dot"></div>
									<div class="sk-chase-dot"></div>
									<div class="sk-chase-dot"></div>
							</div>
						</div>

					<ul class="icons">
						<li><a href=" https://x.com/LissethViera2" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/lisa.viera" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/vieralis" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://wa.me/573115433409?text=¡HOLA!%20necesito%20información" class="icon round fa-whatsapp"><span class="label">WhatsApp</span></a></li>

					</ul>

					<div class="copyright">
						&copy; Todos los Derechos Reservados || <a href="https://wa.me/573115433409?text=¡HOLA!%20necesito%20información">Lisseth Viera</a>
					</div>

				</div>
			</footer>