<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ pestana }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
		|{{> header }}

		<!-- Nav -->
			{{> navbar }}

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="banner17.jpg">
				<div class="inner">
					<header>
						<h1>Contáctanos</h1>
						<p class="box">HealthyCare || Rehabilitación || Ocupación</p>
					</header>
				</div>
				<a href="#one" class="more">Leer más</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="banner18.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Terapeuta Ocupacional: Lisseth Viera</h2>
                            <h3>Perfil:</h3>
						</header>
						<div class="content text-align">
							<p>Trabajó en las diferentes áreas de la salud, específicamente en el área pediátrica (estimulación temprana, psicomotricidad, escolaridad, integración sensorial, autismo), también desempeñó funciones en el departamento psicosocial (psiquiatría, área mental o geriatría), rehabilitación física (fracturas de todo tipo y algias de columnas), donde se pudo lograr un liderazgo, organización, y trabajo en equipo. En cada área obtuvo la proactividad de cada participante, la iniciativa de hacer las terapias en conjunto, donde hubo una facilidad de aprendizaje y seguimientos de todas las instrucciones, y buena colaboración por parte del terapeuta y del participante.</p>

                             <p><strong>Experiencia Laboral:</strong></p>
                            <p><strong>- ROHI IPS SAS: </strong>  (TERAPEUTA OCUPACIONAL, DOMICILIARÍA).<br>
                            <strong>- AYUDAS CLÍNICAS:  </strong>  (TERAPEUTA OCUPACIONAL, DOMICILIARÍA) <br>
                            <strong>- IPS HUMANA VITAL:  </strong>  (TERAPEUTA OCUPACIONAL, SEDE). <br>
                            <strong>- IPS SALUD POSITIVA: </strong> (TERAPEUTA OCUPACIONAL, DOMICILIARÍA) <br>
                            <strong>- ALCALDÍA DE FUNZA: </strong>  (TERAPÉUTA OCUPACIONAL PARA BRINDAR APOYO A LA POBLACIÓN EN CONDICIÓN DE DISCAPACIDA).</p>
						</div>
				
					</article>
				</div>
				<a href="#footer" class="more">Leer más</a>
			</section>

		<!-- Footer -->
			{{> footer }}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>