<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ pestana }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
		|{{> header }}

		<!-- Nav -->
			{{> navbar }}

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="portada.jpg">
				<div class="inner">
					<header>
						<h1>Tereapeuta Ocupacional</h1>
						<p class="box">HealthyCare || Rehabilitación || Ocupación</p>
					</header>
				</div>
				<a href="#one" class="more">Leer más</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="banner10.png">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Qué es la Terapia Ocupacional</h2>
							<p>01.01.2024</p>
						</header>
						<div class="content">
							<p>La Terapia Ocupacional es una disciplina de la salud que se enfoca en ayudar a las personas a participar en las actividades cotidianas que son significativas y funcionales para ellos. Estas actividades pueden incluir cuidar de sí mismos, trabajar, jugar, participar en la comunidad y más. Los terapeutas ocupacionales trabajan con personas de todas las edades que pueden tener dificultades físicas, mentales o emocionales que les impiden participar plenamente en la vida diaria.</p>
						</div>
						<footer>
							<a href="/leerOne" class="button alt">Leer más</a>
						</footer>
					</article>
				</div>
				<a href="#two" class="more">Leer más</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="banner12.png">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Plan Casero de Terapia Ocupacional</h2>
							<p>10.02.2024</p>
						</header>
						<div class="content">
							<p>El desarrollo de un plan casero de Terapia Ocupacional puede ser muy beneficioso para aquellos que desean mejorar su funcionalidad y calidad de vida desde la comodidad de su hogar. Aquí tienes un ejemplo básico de un plan casero de Terapia Ocupacional, que puede adaptarse según las necesidades individuales.</p>
						</div>
						<footer>
							<a href="/leerTwo" class="button alt">Leer más</a>
						</footer>
					</article>
				</div>
				<a href="#three" class="more">Learn More</a>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="banner13.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Terapia Ocupacional En la Primera Infancia (Educación Preescolar y Primaria):</h2>
							<p>10.03.2024</p>
						</header>
						<div class="content">
							<p>La Terapia Ocupacional desempeña un papel importante en el entorno escolar, abordando las necesidades de los estudiantes desde la primera infancia hasta la universidad. Aquí hay una descripción general de cómo se aplica la Terapia Ocupacional en cada etapa.</p>
						</div>
						<footer>
							<a href="/leerThree" class="button alt">Leer más</a>
						</footer>
					</article>
				</div>
				<a href="#four" class="more">Leer más</a>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="banner14.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Plan de Terapia Ocupacional para Adultos Mayores</h2>
							<p>20.03.2024</p>
						</header>
						<div class="content">
							<p>Para diseñar un plan de Terapia Ocupacional para adultos mayores, es esencial realizar una evaluación exhaustiva de las necesidades individuales de cada persona. A continuación, se presenta un ejemplo de un plan descriptivo de trabajo adaptado para adultos mayores con diferentes patologías.</p>
						</div>
						<footer>
							<a href="/leerFour" class="button alt">Leer más</a>
						</footer>
					</article>
				</div>
				<a href="#footer" class="more">Leer más</a>
			</section>

		<!-- Footer -->
			{{> footer }}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>