<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ pestana }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			{{> header }}

		<!-- Nav -->
			{{> navbar }}

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner13.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Terapia Ocupacional En la Primera Infancia (Educación Preescolar y Primaria):</h2>
							<p>10.03.2024</p>
						</header>
						<div class="content text-align">
							<p>La Terapia Ocupacional desempeña un papel importante en el entorno escolar, abordando las necesidades de los estudiantes desde la primera infancia hasta la universidad. Aquí encontrarás una descripción general de cómo se aplica la Terapia Ocupacional en cada etapa.</p>

							<p><strong>Desarrollo Infantil Temprano:</strong> Los terapeutas ocupacionales trabajan en colaboración con maestros y otros profesionales para evaluar el desarrollo infantil temprano y detectar posibles retrasos o dificultades en áreas como la motricidad gruesa y fina, la coordinación, la atención y la socialización.</p>

                            <p><strong>Apoyo a la Participación en el Aula:</strong> Proporcionan intervenciones y adaptaciones para ayudar a los niños a participar plenamente en actividades escolares, como el tiempo de juego, las actividades artísticas y la instrucción académica. Esto puede incluir la adaptación de material didáctico, la enseñanza de habilidades de autocuidado y la promoción de la autonomía en la realización de tareas.</p>

                            <p><strong>Integración Sensorial:</strong> Se centran en el desarrollo de la integración sensorial para mejorar la capacidad de los niños para procesar y responder a la información sensorial de su entorno, lo que puede afectar su desempeño académico, habilidades sociales y comportamiento en el aula.</p> 

                            <p><strong>En la Adolescencia (Educación Secundaria)</strong></p>

                            <p><strong>Habilidades para la Vida Diaria y Preparación para la Transición:</strong> Los terapeutas ocupacionales trabajan en habilidades de la vida diaria, como la organización, la gestión del tiempo, las habilidades de estudio y la planificación de carrera, para preparar a los adolescentes para la vida después de la escuela secundaria, ya sea para la educación postsecundaria o para la transición al trabajo y la comunidad.</p>

                            <p><strong>Apoyo para Necesidades Especiales:</strong> Brindan apoyo a estudiantes con necesidades especiales, incluidos aquellos con discapacidades físicas, cognitivas, emocionales o de desarrollo, para promover su inclusión y participación en el entorno escolar y comunitario.</p>

                            <p><strong>En la Universidad (Educación Terciaria)</strong></p>

                            <p><strong>Apoyo para Estudiantes Universitarios con Discapacidades:</strong> Los terapeutas ocupacionales proporcionan apoyo y recursos para estudiantes universitarios con discapacidades, como adaptaciones en el aula, tecnología asistiva, servicios de apoyo académico y estrategias de organización y gestión del tiempo.</p>

                            <p><strong>Promoción de la Independencia y Autonomía:</strong> Trabajan con estudiantes universitarios para desarrollar habilidades de autocuidado, gestión de la salud, habilidades sociales y habilidades de vida independiente que les permitan tener éxito tanto académica como personalmente en el entorno universitario y más allá.</p>

                            <p>En resumen, la Terapia Ocupacional en el entorno escolar aborda una amplia gama de necesidades de los estudiantes en todas las etapas del desarrollo, desde la primera infancia hasta la universidad, con el objetivo de promover la participación plena, el desarrollo óptimo y el éxito académico y personal.</p>

						</div>
						<footer>
							<ul class="actions">
								<li><a href="/leerTwo" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="/leerFour" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			{{> footer }}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>