<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
--> 
<html>
	<head>
		<title>{{ pestana }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

			<!-- Header -->
			|{{> header }}

			<!-- Nav -->
			{{> navbar }}


			<section id="banner" class="bg-img" data-bg="banner7.jpg">
				<div class="inner">
					<header>
						<h1>Nuestros Servicios</h1>
						<p class="box">Psicomotricidad || Rehabilitación || Ocupación</p>
					</header>
				</div>
				<a href="#one" class="more">Leer más</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="banner8.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Terapia Ocupacional aplicada en la Estimulación Temprana</h2>
						</header>
						<div class="content">
							<p>La estimulación temprana es fundamental en el desarrollo infantil, y la Terapia Ocupacional desempeña un papel crucial en esta etapa. Aquí te presento un plan detallado de ejecución para la estimulación temprana a través de la Terapia Ocupacional...</p>
						</div>
						<footer>
							<a href="/serviceOne" class="button alt">Leer más</a>
						</footer>
					</article>
				</div>
				<a href="#two" class="more">Leer más</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="banner9.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Terapia Ocupacional En La Escolaridad</h2>
						</header>
						<div class="content">
							<p>La Terapia Ocupacional en el entorno escolar se enfoca en ayudar a los estudiantes a participar activamente en el proceso educativo y a desarrollar las habilidades necesarias para alcanzar su máximo potencial en el ámbito académico, social y emocional. Aquí se describen algunos aspectos importantes de la Terapia Ocupacional en la escolaridad...</p>
						</div>
						<footer>
							<a href="/serviceTwo" class="button alt">Leer más</a>
						</footer>
					</article>
				</div>
				<a href="#three" class="more">Learn More</a>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="banner13.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Terapia Ocupacional Para Niños y Niñas Con Autismo</h2>
						</header>
						<div class="content">
							<p>La Terapia Ocupacional desempeña un papel crucial en el apoyo a niños con autismo, ya que se centra en ayudarles a desarrollar habilidades necesarias para participar en actividades cotidianas de manera más independiente y exitosa. Aquí hay una descripción general de cómo se puede aplicar la Terapia Ocupacional para niños con autismo...</p>
						</div>
						<footer>
							<a href="/serviceThree" class="button alt">Leer más</a>
						</footer>
					</article>
				</div>
				<a href="#four" class="more">Leer más</a>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="banner14.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Plan de Terapia Ocupacional para Adultos Mayores</h2>
						</header>
						<div class="content">
							<p>Para diseñar un plan de Terapia Ocupacional para adultos mayores, es esencial realizar una evaluación exhaustiva de las necesidades individuales de cada persona. A continuación, se presenta un ejemplo de un plan descriptivo de trabajo adaptado para adultos mayores con diferentes patologías...</p>
						</div>
						<footer>
							<a href="/serviceFour" class="button alt">Leer más</a>
						</footer>
					</article>
				</div>
				<a href="#five" class="more">Leer más</a>
			</section>

		<!-- Five -->
			<section id="five" class="wrapper post bg-img" data-bg="banner15.png">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Rehabilitación Funcional en Actividades de la Vida Diaria (AVD)</h2>
						</header>
						<div class="content text-align">
							<p>La Rehabilitación Funcional en Actividades de la Vida Diaria (AVD) se centra en ayudar a las personas a recuperar o mejorar su capacidad para realizar tareas básicas y significativas necesarias para la vida diaria. Aquí hay un enfoque detallado sobre cómo se puede llevar a cabo esta rehabilitación...</p>
						</div>
						<footer>
							<a href="/serviceFive" class="button alt">Leer más</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			{{> footer }}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>