<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ pestana }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			{{> header }}

		<!-- Nav -->
			{{> navbar }}

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner15.png">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Rehabilitación Funcional en Actividades de la Vida Diaria (AVD)</h2>
						</header>
						<div class="content text-align">
							<p>La Rehabilitación Funcional en Actividades de la Vida Diaria (AVD) se centra en ayudar a las personas a recuperar o mejorar su capacidad para realizar tareas básicas y significativas necesarias para la vida diaria. Aquí hay un enfoque detallado sobre cómo se puede llevar a cabo esta rehabilitación.</p>

                             <p><strong>Evaluación Inicial</strong></p>

							<p><strong>Historia Clínica:</strong> Obtener información sobre la historia médica, el diagnóstico y cualquier tratamiento previo relacionado con la capacidad funcional y las AVD del paciente.<p/>

                            <p><strong>Evaluación Funcional:</strong> Evaluar las habilidades del paciente para realizar una variedad de actividades de la vida diaria, como vestirse, asearse, bañarse, alimentarse, cocinar, limpiar y realizar tareas domésticas.</p>

                            <p><strong>Identificación de Limitaciones y Objetivos:</strong> Identificar las áreas en las que el paciente experimenta limitaciones o dificultades en las AVD y establecer metas específicas y realistas para la rehabilitación funcional.</p> 

                             <p><strong>Intervención y Plan de Trabajo</strong></p>

                            <p><strong>Entrenamiento en Habilidades de Autocuidado:</strong> Enseñar y practicar técnicas para realizar tareas de autocuidado, como vestirse, asearse y bañarse, utilizando estrategias de conservación de energía y adaptaciones según sea necesario.</p>

                            <p><strong>Terapia de Movimiento y Ejercicio:</strong> Diseñar un programa de ejercicios para mejorar la fuerza muscular, la flexibilidad, la coordinación y el equilibrio, enfocándose en los músculos y habilidades necesarios para las AVD específicas del paciente.</p>

                            <p><strong>Uso de Ayudas y Adaptaciones:</strong> Identificar y proporcionar ayudas y adaptaciones para compensar las deficiencias físicas y promover la independencia en las AVD, como dispositivos de asistencia, utensilios adaptados y dispositivos de movilidad.</p>

                            <p><strong>Entrenamiento en Estrategias de Organización y Planificación:</strong> Enseñar al paciente técnicas de organización y planificación para gestionar eficazmente las actividades de la vida diaria, como la planificación de comidas, la gestión del tiempo y la organización del entorno.</p>

                            <p><strong>Práctica de Tareas Simuladas y del Mundo Real:</strong> Proporcionar oportunidades para practicar las AVD en entornos simulados y del mundo real, utilizando escenarios de la vida cotidiana para reforzar las habilidades aprendidas y promover la transferencia de habilidades.</p>

                            <p><strong>Apoyo Psicosocial y Motivacional:</strong> Brindar apoyo emocional y motivacional al paciente, reconociendo sus logros y ayudándolo a superar los desafíos relacionados con la rehabilitación funcional en las AVD.</p>

                            <p><strong>Colaboración y Seguimiento</strong></p>

                             <p><strong>Reevaluación Regular:</strong> Realizar evaluaciones periódicas para evaluar el progreso del paciente en relación con los objetivos establecidos y ajustar el plan de intervención según sea necesario.</p>

                            <p><strong>Colaboración Interdisciplinaria:</strong> Trabajar en colaboración con otros profesionales de la salud, como fisioterapeutas, médicos y especialistas según sea el caso, para garantizar una atención integral y coordinada para el paciente</p>

                            <p><strong>Educación Continua:</strong> Proporcionar educación continua al paciente y a los cuidadores sobre estrategias de autocuidado, prevención de recaídas y manejo de las limitaciones funcionales a largo plazo.</p>

                            <p>En resumen, la Rehabilitación Funcional en AVD es un proceso integral que requiere una evaluación exhaustiva, un enfoque individualizado y un seguimiento continuo para lograr resultados óptimos y mejorar la calidad de vida del paciente.</p>

						</div>
						<footer>
							<ul class="actions">
								<li><a href="/serviceFour" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="/serviceOne" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			{{> footer }}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>