<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ pestana }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			{{> header }}

		<!-- Nav -->
			{{> navbar }}

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner14.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Plan de Terapia Ocupacional para Adultos Mayores:</h2>
						</header>
						<div class="content text-align">
							<p>Para diseñar un plan de Terapia Ocupacional para adultos mayores, es esencial realizar una evaluación exhaustiva de las necesidades individuales de cada persona. A continuación, se presenta un ejemplo de un plan descriptivo de trabajo adaptado para adultos mayores con diferentes patologías.</p>

                            <p><strong>  Evaluación Inicial:</strong></p>
                            <p><strong>- </strong> Historial médico y social. <br>
                            <strong>- </strong> Función cognitiva. <br>
                            <strong>- </strong> Función física, incluyendo movilidad, fuerza y equilibrio. <br>
                            <strong>- </strong> Habilidades de autocuidado y destrezas para la vida diaria. <br>
                            <strong>- </strong> Necesidades emocionales y de bienestar.</p>

                            <p><strong>Objetivos Generales:</strong></p>

                            <p><strong>- </strong> Mejorar la independencia funcional en las actividades de la vida diaria.<br>
                            <strong>- </strong> Promover la calidad de vida y el bienestar emocional. <br>
                            <strong>- </strong> Fomentar la participación en actividades significativas y sociales.</p>
							
                            <p><strong>Plan de Intervención</strong></p>
                            <p><strong>Entrenamiento en Habilidades de la Vida Diaria:</strong> Trabaja en habilidades de autocuidado como vestirse, bañarse, asearse y alimentarse, adaptando las actividades según las necesidades y capacidades individuales. Proporciona entrenamiento en el uso de dispositivos de asistencia y adaptaciones para facilitar la independencia en las actividades cotidianas.</p>

                            <p><strong>Ejercicios de Movilidad y Fortalecimiento:</strong> Diseña un programa de ejercicios personalizado para mejorar la movilidad, la fuerza muscular y el equilibrio. Incluye ejercicios de estiramiento, fortalecimiento de miembros inferiores y superiores, y ejercicios de equilibrio y coordinación.</p> 

            
                            <p><strong>Estimulación Cognitiva:</strong> Implementa actividades para mantener y mejorar la función cognitiva, como rompecabezas, juegos de memoria, actividades de atención y ejercicios de resolución de problemas. Fomenta la participación en actividades intelectualmente estimulantes, como lectura, escritura y conversaciones.</p>

                            <p><strong>Integración Social y Recreación:</strong> Organiza actividades grupales y sociales para promover la interacción social y reducir el aislamiento. Facilita la participación en actividades recreativas y de ocio adaptadas a las capacidades e intereses individuales, como clases de arte, música, jardinería o paseos grupales.</p>

                            <p><strong>Manejo del Dolor y Estrés:</strong> Proporciona técnicas de manejo del dolor y estrategias de afrontamiento para ayudar a los adultos mayores a manejar el dolor crónico y el estrés emocional. Introduce prácticas de relajación, respiración y mindfulness para promover el bienestar emocional y la calidad de vida.</p>

                            <p><strong>Promoción de la Independencia y Autonomía:</strong> Trabajan con estudiantes universitarios para desarrollar habilidades de autocuidado, gestión de la salud, habilidades sociales y habilidades de vida independiente que les permitan tener éxito tanto académica como personalmente en el entorno universitario y más allá.</p>  

                            <p><strong>Seguimiento y Evaluación:</strong></p>

                            <p>Realiza evaluaciones periódicas para monitorear el progreso hacia los objetivos establecidos y ajustar el plan de intervención según sea necesario. Colabora con otros profesionales de la salud, como fisioterapeutas, trabajadores sociales y médicos, para garantizar una atención integral y coordinada.</p>
                            <p>Recuerda que cada plan de Terapia Ocupacional debe ser individualizado y adaptado a las necesidades y capacidades únicas de cada adulto mayor, así como tener en cuenta sus preferencias y objetivos personales.</p>
						</div>
						<footer>
							<ul class="actions">
								<li><a href="/serviceThree" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="/serviceFive" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			{{> footer }}

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>